.main-header,
.sub-header {
  position: fixed;
  height: 66px;
  width: 100%;
  padding: 0 25px;
}

.main-header {
  top: 0;
  background: #132054;
  color: white;
}

.main-header p {
  font-size: 12px;
}

.sub-header {
  top: 66px;
  /* 
    background: #E8EAF1;
    border-bottom: 2px solid #D8D8D8;
  */
  padding-left: 0;
}

.aside-toggle {
  height: 66px;
  width: 200px;
  background: #0E1530;
  border-bottom: 2px solid #D8D8D8;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  padding-left: 25px;
}

.aside-toggle svg {
  margin-left: 5px;
}

.categories {
  padding-left: 20px;
}

.categories li {
  margin-right: 10px;
}

.categories .checkbox-button label {
  border: 2px solid #DADADA;
}

.categories .checkbox-button input[type="checkbox"]:checked + label {
  border: 2px solid #ED4568;
}

.menu-button {
  display: flex;
  align-items: center;
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 20px 10px;
  text-transform: uppercase;
}

.menu-button svg {
  margin-right: 5px;
}

.widgets {
  line-height: 1.5;
}

.calendar {
  text-align: right;
  text-transform: capitalize;
}

.divider {
  width: 2px;
  height: 17px;
  background: white;
  margin: 0 20px;
}

@media (max-width: 1025px) {
  .main-header,
  .sub-header {
    position: relative;
    padding: 0 20px;
  }
  .sub-header {
    display: none;
  }
}